:root {
    --background-color: #FFF2C9 ;
    --font-family: serif ;
    --font-size: 2rem ;
    --green: #A4F03B ;
    --blue:#00B3D5 ;
    --orange: #A36308 ;
    --white: #FFFFFF ;
    --black: #000000 ;
    --companybrown: ;
}

body {
    background: var(--black)
}
    
.about {
    background-color: var(--background-color);
    border-radius: 3rem;
    height: auto;
    text-align: center;
    margin:2%;
    padding:2%;
    border-color: var(--blue);
    border-width: thick;
    border-style: dashed;
    }

p {
    color: var(--black);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:25px;
    background-color: #FFF2C9;
    width:fit-content; 
    padding:0.5rem;
    margin:1rem;
    align-items: center;
}

h2 {
    color: var(--background-color);
    font-family:fantasy;
    font-size: 7rem;
    text-decoration: solid, var(--green);
    background-color: var(--orange);
    width:fit-content;
    padding:1%;
    border-radius: 1rem;
    text-align: center;
    align-items: center;
}

.logo {
    align-content: left;
    width: 0.5rem;
    height:auto;
    
}

 #headingpicture {
    width: 83.5rem;
    height: auto;
}

#bikepictureshomepage {
    width:30rem;
    height: auto;
    
}

.contact {
    text-align: left;
    background-color: var(--orange);
    font-family: fantasy;
    font-weight: bold;
    
}

.navbar {
    background-color: var(--green);
    width: auto;
    height: 8rem;
    text-align:justify;
    font-family: fantasy;
    font-size: 5rem;
    color: var(--black);
    text-align: center;
    
}



button {
    width: text;
    height: 4rem;
    background-color: var(--background-color);
    color:#A36308;
    font-size: 3rem;
    font-family: fantasy;
    border-radius: 1rem;
     
}


